{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Translates</h1>
<form method="POST">
 <select name="model_name" class="Input">
<!--% for option in options %}-->
<option value="rnn">RNN</option>
   <option value="transformer">Transformer</option>
<!--% endfor %}-->
</select>
  <textarea name="translate" id="translate" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Translate</button>
  </div>
</form>
<ul class="list-group list-group-flush" id="translates">
  {% for translate in user.translates|reverse %}
  <li class="list-group-item">
      {{ translate.source }} - <i>{{ translate.translate }}</i> - <b>{{ translate.model_name }}</b>
    <button type="button" class="close" onClick="deleteTranslate({{ translate.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
{% endblock %}